<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    {% load staticfiles %}
    {% load filters %}
    {% block loads %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}" />
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="container">

    <h1> {% block h1 %} {% endblock %} </h1>

    {% if messages %}
      {% for message in messages %}
        <div class="{% if message.tags %} {{ message.tags|level2class }} {% endif %}"> {{ message }} </div>
      {% endfor %}
    {% endif %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="{% url 'main' %}">Main page</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'deezer_auth' %}">Deezer auth</a></li>
          {% block links %}{% endblock %}
        </ul>

        {% if user.is_authenticated %}
          <div class="text-right">
            Logged in as <b> {{ user }} </b>
            {% if user_picture_url %}<img src="{{ user_picture_url }}" alt="avatar"/> {% endif %}
            <a href="{% url 'logout' %}"> Logout </a>
          </div>
        {% endif %}
      </div>
    </nav>

    {% block content %}{% endblock %}

    <hr>
    {% block footer %}{% endblock %}
    iDeezer 2019 <a href="{% url 'license' %}"> License </a><br/>
    <br>

    <div class="card card-body border-success mb-3">
        <h6 class="card-title">We use cookies</h6>
        <small class="card-text text-muted">We use cookies and other tracking technologies to improve your browsing experience on our website,
        to show you personalized content and targeted ads, to analyze our website traffic, and to understand
        where our visitors are coming from. By browsing our website, you consent to our use of cookies
        and other tracking technologies.</small>
    </div>

    <ul>
    {% for sql_query in sql_queries %}
        <li class="text-monospace"> {{ sql_query.sql }} <br/> {{ sql_query.time }} sec </li>
    {% endfor %}
    </ul>

</body>

</html>
