<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        {% if message.tags %} <div class="{{ message.tags }}"></div>{% endif %}
            {{ message }}
        {% endfor %}
    </div>
    {% endif %}

    {% block links %}<br/>{% endblock %}
    <a href="{% url 'main' %}"> Main page</a><br/>
    <a href="{% url 'deezer_auth' %}"> Deezer auth </a><br/>

    <h1> {% block h1 %} {% endblock %} </h1>

    {% block content %}{% endblock %}

    <hr>
    {% block footer %}{% endblock %}
    iDeezer 2018
    <a href="{% url 'license' %}"> License </a><br/>

    <hr>
    <h4>We use cookies</h4>
    <h5>
        We use cookies and other tracking technologies to improve your browsing experience on our website,<br/>
        to show you personalized content and targeted ads, to analyze our website traffic, and to understand<br/>
        where our visitors are coming from. By browsing our website, you consent to our use of cookies<br/>
        and other tracking technologies.<br/>
    </h5>

    <hr>
    {% for sql_query in sql_queries %}
        <li> {{ sql_query.sql }} <br/> {{ sql_query.time }} sec </li>
    {% endfor %}
</body>

</html>
