<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    {% load staticfiles %}
    {% load filters %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"> </script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
    {% block loads %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}" />
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="container">

    <h1> {% block h1 %} {% endblock %} </h1>

    {% if messages %}
      {% for message in messages %}
        <div class="{% if message.tags %} {{ message.tags|level2class }} {% endif %}"> {{ message }} </div>
      {% endfor %}
    {% endif %}

    <div class="navbar navbar-expand-lg navbar-light bg-light collapse navbar-collapse">
      <div class="btn-toolbar mr-auto" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
          <a class="btn btn-info" href="{% url 'main' %}">Main page</a>
        </div>

        <div class="btn-group mr-2" role="group" aria-label="Second group">
          <a class="btn btn-info" href="{% url 'deezer_auth' %}">Deezer auth</a>
        </div>

        <div class="btn-group" role="group" aria-label="Third group">
          <div class="dropdown mr-auto">
            <button class="btn btn-info dropdown-toggle" type="button" id="iTunesUploadMenuBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              iTunes Library
            </button>
            <div class="dropdown-menu" aria-labelledby="iTunesUploadMenuBtn">
              <a class="dropdown-item" href="{% url 'upload_library' %}">Upload iTunes xml</a>
              <a class="dropdown-item" href="{% url 'upload_history' %}">Upload history</a>
            </div>
          </div>
        </div>
      </div>

      {% if user.is_authenticated %}
        <div class="text-right">
          Logged in as <b> {{ user }} </b>
          {% if user_picture_url %}<img src="{{ user_picture_url }}" alt="avatar"/> {% endif %}
          <a href="{% url 'logout' %}"> Logout </a>
        </div>
      {% endif %}
    </div>

    {% block content %}{% endblock %}

    <hr>
    {% block footer %}{% endblock %}
    iDeezer 2019 <a href="{% url 'license' %}"> License </a><br/>
    <br>

    <div class="card card-body border-success mb-3">
        <h6 class="card-title">We use cookies</h6>
        <small class="card-text text-muted">We use cookies and other tracking technologies to improve your browsing experience on our website,
        to show you personalized content and targeted ads, to analyze our website traffic, and to understand
        where our visitors are coming from. By browsing our website, you consent to our use of cookies
        and other tracking technologies.</small>
    </div>

    <ul>
    {% for sql_query in sql_queries %}
        <li class="text-monospace"> {{ sql_query.sql }} <br/> {{ sql_query.time }} sec </li>
    {% endfor %}
    </ul>

</body>

</html>
