{% extends "ideezer/base.html" %}

{% block title %} iDeezer Playlist {% endblock %}

{% block h1 %} {{ object.itunes_title }} {% endblock %}

{% block content %}

    <a class='btn btn-info btn-sm' href="{% url 'playlist_search_simple' object.id %}">Search tracks in Deezer</a>
    <a class='btn btn-info btn-sm' href="#">Link to exists Deezer playlist</a>
    <a class='btn btn-info btn-sm' href="{% url 'playlist_deezer_create' object.id %}">Create in Deezer</a>

    <hr>
    <h5>Paired tracks</h5>
    <table class="table table-borderless table-condensed">
        <tbody>
            {% for obj in paired %}
            <tr>
                <td> {{ obj.user_track }} </td>
                <td class="text-nowrap">
                    <a href="{{ obj.user_track.get_absolute_url }}"> <i class="material-icons md-18"> edit </i> </a>
                    <a href="{% url 'search_track_from_playlist' obj.user_track.id object.id %}"> <i class="material-icons md-18"> search </i> </a>
                </td>
                <td> {{ obj.deezer_track }} </td>
                <td> {{ obj.diff }} </td>
                <td> <a href="{% url 'identity_clear' obj.id object.id %}"> <i class="material-icons md-18"> clear </i> </a> </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h5>Unpaired tracks</h5>
    <ul class="list-unstyled">
    {% for obj in unpaired %}
        <li>
            <a href="{{ obj.get_absolute_url }}"> <i class="material-icons md-18"> edit </i> </a>
            <a href="{% url 'search_track_from_playlist' obj.id object.id %}"> <i class="material-icons md-18"> search </i> </a>
            {{ obj }}
        </li>
    {% endfor %}
    </ul>

{% endblock %}
