{% extends "ideezer/base.html" %}

{% block title %} iDeezer Playlist {% endblock %}

{% block h1 %} Playlist {% endblock %}

{% block links %}
    <li class="nav-item>"><a class="nav-link" href="{% url 'playlist_list' %}">Playlists</a></li>
{% endblock %}

{% block content %}

    {% if object.itunes_id %}
        {{ object.str_itunes }}
        {% for obj in object.itunes_content.all %}
            <li> {{ obj }} </li>
        {% endfor %}
    <br/>
    {% endif %}
    {% if object.deezer_id %}
        {{ object.str_deezer }}
        {% for obj in object.deezer_content.all %}
            <li> {{ obj }} </li>
        {% endfor %}
    {% endif %}
{% endblock %}
